
    .containalbum {
        grid-template-columns: 40% 45% ;
        height: 200px;
        background-color: rgba(242, 216, 229, 0.5);
        display: grid;
        justify-content: space-between;
        border: white solid 4px;
        margin: 10px;
        margin-left: 20px;
        }
    
      
    .titulo{
      font-family  : 'Bitter', serif;
    color: slategray;
    text-align: center;
    margin-top: 10px;
    }



    .nombrealbum {
        
        font-family: 'Notable', sans-serif;
        font-size: 20px;
        color: rgb(84, 82, 82);
        margin-right: 30px;
       margin: 0;
    
        }

        .fotoalbum{
          
      width: 100%;
      height: 100%;
      border-radius: 50%;
      
          
         }
         .temas {
            list-style-type: none;
           }
           .hola{
            background-color: rgba(242, 216, 229, 0.5);
            width: 95%;
            margin-left: 50px;
            border: white solid 2px;
            margin-top: 10px;
           }
         
        
        
         .año {
            text-align: center;
            color: rgb(84, 82, 82);
            font-weight: bold;
            font-family: 'Norican', cursive;
            font-size: 10px;
            margin-top: 5px;
         
           
            }
            .ipervinculo {
                font-size: 20px;
               
            }
            .ipervinculo1 {
                font-size: 20px;
               
            }
          
            .buscador{
                margin-left: 0%;
                margin: 0%;
            }

             
            .saltar{
   
                display: none;
               
            }
           
            .titulodeltrack{
                color:black;
                font-size: 20px;   
                margin: 0 auto;
                
            }
          .iper{
            text-align: center;
            color: rgb(84, 82, 82);
            font-weight: bold;
            font-family: 'Norican', cursive;
            font-size: 20px;
            margin-top: 10px;
          }
         
            @media (min-width:600px){
               
                    .saltar{
                        display: block;
                    }
                    
                   
                    .nombrealbum{
                        font-size: 45px;
                    }
                    
                     .fotoalbum{
                        padding-top: 5px;
                        height: 230px;
                        width: 90%;
                    

                    }
                    .containalbum{
                        height: 290px;
                    }
                    .año{
                        font-size: 20px;
                  
                    }
                    .ipervinculo{
                        font-size: 35px;
                       
                    }
                    .ipervinculo1 {
                        font-size: 35px;
                       
                    }

                    }

                    @media(min-width:1024px){
                        
                    
                    .containalbum{
                        height: 340px;
                        width: 95%;
                        margin-left: 50px;
                    }
                    .fotoalbum{
                       margin-top: 10px;
                       height: 270px;
                       width: 40%;
                       margin-left: 30px;
                       border-radius: 50%;


                    }
                       .ipervinculo {
                        font-size: 45px;
                       
                    }
                    .ipervinculo1 {
                        font-size: 45px;
                       
                    }
            

                   .año{
                       margin-top: 5px;
                       margin-right: 400px;

                   }
              
                   .hola{
                    width: 95%;
                    margin-left: 50px;
                    border: white solid 2px;
                    margin-top: 10px;
                   }


                 

                 
.iper{
    font-size: 50px;
}
                 

                 }






        
                
              