
    .containalbum {

        height: 160px;
        background-color: rgba(242, 216, 229, 0.5);
        display: grid;
        grid-template-columns: 40% 45% ;
        gap: 2%;
        border: white solid 4px;
        margin: 0 auto;
        margin: 10px;
        
        }
    .containfotoalbum {
        padding-left: 4px;
        }

       
        .uk-search-input{
            margin-left: 15px;
            margin-top: 15px;
        }
    .titulo{
      font-family  : 'Bitter', serif;
    color: slategray;
    text-align: center;
    margin-top: 10px;
    }



    .nombrealbum {
        
        font-family: 'Notable', sans-serif;
        font-size: 25px;
        color: rgb(84, 82, 82);
        margin-right: 30px;
       margin: 0;
    
        }

        .fotoalbum{
          
      width: 100%;
      height: 100%;
      border-radius: 50%;
      
          
         }
         .temas {
            list-style-type: none;
           }
           .hola{
           
            width: 95%;
            margin-left: 50px;
            border: white solid 2px;
            margin-top: 10px;
           }
         
        
        
         .año {
            text-align: center;
            color: rgb(84, 82, 82);
            font-weight: bold;
            font-family: 'Norican', cursive;
            font-size: 10px;
            margin-top: 5px;
         
           
            }
            .buscador{
                margin-left: 50%;
            }

             
            .saltar{
   
                display: none;
               
            }
           
            .titulodeltrack{
                color:black;
        
                font-size: 20px;
               
                margin: 0 auto;
                
            }
          
            
            @media (min-width:600px){
               
                    .saltar{
                        display: block;
                    }
                    
                    .ag {
                        font-size: 35px;
                       
                    }
                    .ag1 {
                        font-size: 35px;
                       
                    }
                    .nombrealbum{
                        font-size: 45px;
                    }
                    
                     .fotoalbum{
                        padding-top: 5px;
                        height: 230px;
                        width: 90%;
                    

                    }
                    .containalbum{
                        height: 270px;
                    }
                    .año{
                        font-size: 20px;
                  
                    }
                    

                    }

                    @media(min-width:1024px){
                        
                    
                    .containalbum{
                        height: 300px;
                        width: 95%;
                        margin-left: 50px;
                    }
                    .fotoalbum{
                       margin-top: 30px;
                        height: 240px;
                        width: 50%;
                        margin-left: 30px;
                 
                          }
                   .año{
                       margin-top: 5px;
                       margin-right: 140px;

                   }
              


                 

                 

                 }






        
                
              