.containgeneros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nombreartista{
   padding-top: 65px;
}
.containfotogenero{
    padding-left: 7px;
    position: relative;
    font-family: 'Bitter', serif;

}
.titulo{
    margin-top: 30px;
}
.fotogeneroo{
    
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 15px; 
    position: relative;
}

.titulogenero {
position: absolute;
right: 60px;
top: 250px;
color: rgb(84, 82, 82);
font-family: 'Notable', sans-serif;
font-size: 25px;

transform: translateX(-20%);
transform: translateY(-20%);

}


.containinfogenero{
gap: 1%;

}

.listaartistasgenero {
color: rgb(84, 82, 82);
padding-left: 15px;
padding-top: 0px;
text-align: justify;
}

.listaartistasgenero li {
font-size: 30px;
list-style-type: none;
font-family: 'Norican', cursive;
}

.listaartistasgenero a {
text-decoration: none;
color: rgb(84, 82, 82);
}

.tituloinfogenero {
    color: rgb(84, 82, 82);
    padding-left: 15px;
    padding-top: 15px;
    text-align: justify;
}
@media (min-width:600px){

   
    .titulogenero{
        right: 95px;
        padding-top: 20px;
    }

}
@media (min-width:768px){

    .titulogenero{
        left: 200px;
        top: 250px;
        font-size: 40px;
    }
   
}