
html, body {
    margin: 0;
}

.reproduccionArtista{
  width: 100%;
  position: fixed;
  bottom: -15%;
  height: 150px;
    z-index: 10;
    margin-bottom: 10%;
}

.spinner{
    width: 25%;
   margin-left: 47%;
   margin-top: 2%;
   
    
}

.reproduccion{
    display: none;
}
.sizeicono{
    display: inline;
    font-size: 40px;
    color: white;
    max-width: 50%;
   
       
}
.iconoCirculo{
    padding-left: 25%;
}
.iconoblock{
    display: inline;
}
a { text-decoration: none !important;
    color: ivory !important;
    }
    
    
    html{
        background-color: transparent;
    }
    
    
    
    body  {
        background-image: url(../imagenes/background3.jpg);  
        background-attachment: scroll; 
        background-size: 100% !important;
        
        

        }
    .logo {
    display: block;
    margin: 0 auto;
    height: 150px;
    }
    
    
    .liheader {
        background-color: black;
    width: 50%;
    margin: 0 auto;
    }
    .main-header{
       
        
        width: 100%;
    }
    .listaheader li  {
    margin-bottom: 2%;
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
   
    
    
    }
    ul.listaheader {
    padding-left: 0;
    
    
    
    }

   
    .listaheader {
    display: none;
    }
   .cargando{
       display: none;
   }
    
    .liheader a {
    text-decoration: none;
    color:lightgray;
    }
    
    
    .hamburguesadiv{
        background-color: black;
        padding: 10px;
        color:  white;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        width: 15px;
    }

    .search {
        width: 50%;
        
        
        
        
    }
    .buscador{
        
        margin: 2% 50%;
    }
    
    
    .titulo{
      font-family  : 'Bitter', serif;
      color: white;
    text-align: center;
    margin: auto;
    
    }

    .titulosdelaspaginas{
        border-radius: 20px 20px 20px 20px ;
        border: 4px solid #FF5470;
        background-color: #1B1B1B;
        width: 45%;
        height: 100px;
        margin: 5% auto;

    }

    .mainfooter {
        display: grid;
        width: 100%;
        margin-top: 2% ;
        height: 300px;
        grid-template-columns:  18% 27% 27% 18%;
        background-color: black;
        
    }
    .footer{
        border-right: 1px solid white;
        height: 230px;
    }
    .titulos-footer{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        color: lightpink;
    }
    .div-logo{
        background-color: white;
        
    }
    .img-footer{
        width: 100%;
    }
    .deezer{
        width: 100%;
        margin: 0 auto;
    }

    

    
        .instagram{
            font-size: 30px;
        }
        .footer-a  {
            color: grey;
            font-size: 20px;
            text-align: center;
            display: block;
        }


    

    

    @media (min-width:600px){
        
       .titulosdelaspaginas{
           width: 30%;
       }

    }   


    @media (min-width:768px){
        .logodesktop {
            display: block;
            
            
        }
        .contain{
            border-radius: 20px 20px 0 0;
        }
       

        .hamburguesadiv{
            display: none;
        }    

        ul.listaheader {
           
            display: grid;
            height: 100px;
            width: 98%;
            grid-template-columns: 16% 14% 14% 14% 14% 14% 14%;
            margin: 0 1%;
            
           
           
        }
       .reproduccionArtista{
        bottom: -25%;
       }

        .liheader {
            width: 100%;
            height: 100px;
            border-radius: 20px 20px 20px 20px;
            border: 2px solid #FF5470;
            
            
            
        }    
        .buscador{
            width: 100%;
            height: 100px;
            margin: 0%;
            
            border: none;
            
            border-radius: 20px 20px 20px 20px;
            

        }
        .search {
            width: 100%;
            height: 100px;
            
            background-color: black;
            border-radius: 20px 20px 20px 20px;
            border: 2px solid 	#FF5470;


            
            
        }    

        nav:hover .listaheader {
            display: grid;
        }


        .deezer {
            
            width: 50%;

        }

     


    }    

    .logodesktop  {
display: none;
    }



     