.section{
  grid-template-columns: 40% 50% ;
  height: auto;
 
  background-color: rgba(242, 216, 229, 0.5);
  display: grid;
  justify-content: space-between;
  border: white solid 4px;
  margin: 10px;
  margin-left: 10px;
}

ul{
  list-style-type: none;
 margin-left: 0;
 margin-right: 30px;
}

.cancion{
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 100%;
 

 }

 .nombrecancion{
  font-family: 'Notable', sans-serif;
  font-size: 15px;
  color: rgb(84, 82, 82);
  margin-right: 30px;
 margin: 0;
    
   
   }
   .tituloss {
        
    font-size: 20px;
    color: white;

   }
   .iconotracks{
font-size: 35px;
color: rgb(84, 82, 82);
}

@media (min-width:600px){

  .tituloss{
    font-size: 35px;
  }
.nombrecancion{
  font-size: 35px;
}

.iconotracks{
  margin-top: 10%;
  font-size: 45px;
  margin-bottom: 10%;
}
}
@media (min-width:1024px){

  .cancion{
    width: 40%;
  }

  .tituloss{
    font-size: 50px;
  
  }
  .nombrecancion{
    font-size: 50px;
  }
  .iconotracks{
    margin: 0;
  }
}