
    .sectioncanciones{
     
      padding-right: 60px;
      padding-left:10px ;
    }
    .titulo{
    font-family  : 'Bitter', serif;
    color: slategray;
    text-align: center;
    
    }
  .cancion{
    height: 150px;
    width: 60%;
    margin: 0 auto;
    margin-left: 80px;
  
  }


  .nombrecancion{
      font-size: 15px;
      font-family: 'Notable', sans-serif;
      color: rgb(84, 82, 82);
      margin-top: 5px;
      margin-left: 80px;
     }

    .ipervincuos {
        
        font-size: 20px;
        font-family: 'Norican', cursive;
        color: grey !important;
        margin-left: 80px;
       }
       .ipervincuosalbum {
        
        font-size: 20px;
        font-family: 'Norican', cursive;
        color: grey !important;
        margin-left: 80px;
       }
   .duracion{   
    font-family: 'Norican', cursive;
    font-size: 15px;
    margin-top: auto;
    color: grey !important;
    margin-left: 80px;
   }

           @media (min-width:600px){
     
           .sectioncanciones{
            height: 2000px;
            width: 100%;
            display: grid;
            grid-template-columns: 40% 40%;
            padding-left: 160px;
          
            } 
            .ipervincuos{
              margin: auto;
            }
            .ipervincuosalbum{
              margin: auto;
              margin: 0 auto;
            }
            .titulo{
            font-size: 60px;

           } 
           .nombrecancion{
             margin-left: 0;
           }
      
            .cancion{
            height:205px ;
            width: 70%;
            margin: 0 auto;
           }
           .duracion{
             margin-left: 0;
           }
 

          }
          
          @media(min-width:1024px){
         
         .sectioncanciones{ 
          height: 1400px;
          grid-template-columns: 30% 30% 30%  ;
          margin: 0 auto;
          padding-left: 150px;

          }
    
         .ipervincuos {
            font-size: 20px;
            
         }
         .ipervincuosalbum {
          font-size: 20px;
          
       }
         .nombrecancion{
         font-size: 25px;
         }
        
        }