
    .sectioncanciones{
      display: grid;
      grid-template-columns: 40% 60%;
      background-color: rgba(242, 216, 229, 0.5);
      padding-left:10px ;
      border: white solid 4px;
      margin: 10px;
      margin-left: 20px;
      height: 270px;
   
     
    }
    .titulo{
    font-family  : 'Bitter', serif;
    color: slategray;
    text-align: center;
    
    }
  .cancion{
    margin-top: 20px;
    width: 100% ;
    height: 100px;
  border-radius: 50%;
   
  }
  .sizeicono {
    display: block;
    font-size: 20px;
   margin-left: 50px;
   margin-top: 0;
   
}
 .reproductortrack{
   margin-left: 30px;
 }
  .nombrecancion{
    font-size: 15px;
      font-family: 'Notable', sans-serif;
      color: rgb(84, 82, 82);
      margin-left: 40px;
      
     
     }
    

    .ipervincuos {
        
        font-size: 15px;
        font-family: 'Norican', cursive;
        color: grey !important;
        margin-left: 40px;
       }
       .ipervincuosalbum {
        
        font-size: 15px;
        font-family: 'Norican', cursive;
        color: grey !important;
        margin-left: 40px;
       }
   .duracion{   
    font-family: 'Norican', cursive;
    font-size: 15px;
    margin-top: auto;
    color: grey !important;
     margin-left: 40px;
   }
  

           @media (min-width:600px){
     
            .sectioncanciones{
              height: 70px;
          
         
          
          } 
          .ipervincuos{
            
            font-size: 30px;
          }
          .ipervincuosalbum{
           
            font-size: 30px;
          }
            .titulo{
            font-size: 50px;

           } 
           .nombrecancion{
             font-size: 40px;
           
          }

          .cancion{
            
            height: 280px;
            width: 95%;
            border-radius: 50%;
            border: 4px solid white;
            margin: 20px;
           }
            
           
           .duracion{
             font-size: 30px;
            margin-left: 40px;
           }
          
      
      }
          @media(min-width:1024px){
         .sectioncanciones {
           height: 600px;
         }
      
          .cancion{
           margin: 30px;
            width:60% ;
            height: 80%;
          }
    
         .ipervincuos {
            font-size: 40px;
            
         }
         .ipervincuosalbum {
          font-size: 40px;
          
       }
         .nombrecancion{
         font-size: 60px;
         }
         .duracion{
          font-size: 40px;
        
        }
        }