
    .sectioncanciones{
  
      padding-left:10px ;
    
     
    }
    .titulo{
    font-family  : 'Bitter', serif;
    color: slategray;
    text-align: center;
    
    }
  .cancion{
    height: 150px;
    width: 60%;
   margin-left: 70px;
    
   
  }

  .uk-search-input{
    margin-left: 15px;
    margin-top: 15px;
}
  .nombrecancion{
      font-size: 15px;
      font-family: 'Notable', sans-serif;
      color: rgb(84, 82, 82);
      
      margin-left: 80px;
     }

    .ipervincuos {
        
        font-size: 20px;
        font-family: 'Norican', cursive;
        color: grey !important;
        margin-left: 80px;
       }
       .ipervincuosalbum {
        
        font-size: 20px;
        font-family: 'Norican', cursive;
        color: grey !important;
        margin-left: 80px;
       }
   .duracion{   
    font-family: 'Norican', cursive;
    font-size: 15px;
    margin-top: auto;
    color: grey !important;
     margin-left: 80px;
   }
   .imagentop5{
    width: 50%;
    height: 70%;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 80px;
    }

           @media (min-width:600px){
     
            .sectioncanciones{
              height: 300px;
            width: 100%;
            display: grid;
            grid-template-columns: 40% 40%;
          
          } 
          .ipervincuos{
            margin: auto;
            font-size: 25px;
          }
          .ipervincuosalbum{
            margin: auto;
            margin: 0 auto;
            font-size: 25px;
          }
            .titulo{
            font-size: 40px;

           } 
           .nombrecancion{
             font-size: 30px;
            margin-left: 0;
          }

          .cancion{
            width: 80%;
            height: 100%;
            border-radius: 50%;
            border: 4px solid white;
            margin-left: 0;
           }
            
           
           .duracion{
             font-size: 25px;
             margin-left: 0;
           }
           .imagentop5{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 4px solid white;
            }
        .nombretop5{
            color: ivory;
    
            font-size: 20px;
            text-align: center;
            margin: 0 auto;
            
        }

          }
          
          @media(min-width:1024px){
         .sectioncanciones {
           height: 600px;
         }
      
          .cancion{
            width:60% ;
            height: 70%;
          }
    
         .ipervincuos {
            font-size: 40px;
            
         }
         .ipervincuosalbum {
          font-size: 40px;
          
       }
         .nombrecancion{
         font-size: 50px;
         }
        
        }